/* .tableRow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tableCell{
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
} */